<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" 
data-bs-toggle="modal" data-bs-target="#AddEditTransactionModal"
(click)="addTransactionClick()"
data-backdrop="static" data-keyboard="false"
><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg> Add Transaction
  </button>
  
  <!-- AddEdit Modal -->
  <div class="modal fade" id="AddEditTransactionModal" tabindex="-1" aria-labelledby="AddEditTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddEditTransactionModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="closeClick()">
          </button>
        </div>
        <div class="modal-body">
          <trans-app-add-edit [transaction]="transaction" *ngIf="ActivateAddEditTransactionComp">

          </trans-app-add-edit>
        </div>

      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <th>Code</th>
        <th>Account Code</th>
        <th>TransactionDate</th>
        <th>CaptureDate</th>
        <th>Amount</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor='let dataItem of TransactionList'>
            <td>{{dataItem.code}}</td>
            <td>{{dataItem.accountCode}}</td>
            <td>{{dataItem.transactionDate}}</td>
            <td>{{dataItem.captureDate}}</td>
            <td>{{dataItem.amount}}</td>
            <td>{{dataItem.description}}</td>
        </tr>
    </tbody>
</table>
