<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">The Account Management system</h1>
          <p>This was developed with a dotnetcore backend, with unit tests, swagger as well, run the backend and go to the URL: https://localhost:44348/index.html where localhost[port] is your local run url </p>
          <p>Angular 11 for the front end (my first ever proper attempt at angular), so happy that it works</p>
          <p>&nbsp;</p>
          <h2>About me</h2>
          <p>I am a software developer that has a passion for building things. I am always looking to learn new things. I believe that as a developer, one should keep on building, whether it works on not, just keep on building. Many successful developers have projects that they have started and have never finished and I have made it my mission to finish all of my unfinished side projects.</p>
        </div>
      </div>