<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="EmailHeader" value="&lt;!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'&gt;&lt;html&gt;&lt;head&gt;&lt;meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' /&gt;&lt;style type='text/css'&gt; body { font-family:Verdana,Tahoma,Arial,sans-serif;margin:0px;font-size: 10pt; color: black; } table { width:90%;border-top:1px solid silver;border-right:1px solid silver;border-collapse:collapse; } td { background-color:#e8edff;border-bottom:1px solid silver;border-left:1px solid silver;padding:2px;text-align:left;vertical-align:top; } &lt;/style&gt;&lt;/head&gt;&lt;body&gt;" />
  <variable name="EmailBody" value="
      &lt;b&gt;An exception occurred on ISAccounts App: ${message}&lt;/b&gt;
      &lt;br /&gt;
      &lt;br /&gt;
      &lt;table&gt;
      &lt;tr&gt;&lt;td width=&quot;150&quot;&gt;Date &lt;/td&gt;&lt;td&gt;${date:format=yyyy-MM-dd HH\:mm\:ss} &lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Machine &lt;/td&gt;&lt;td&gt;${machinename} &lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Client IP Address &lt;/td&gt;&lt;td&gt;${aspnet-request-ip}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Referer &lt;/td&gt;&lt;td&gt;${aspnet-request-referrer}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Request URL &lt;/td&gt;&lt;td&gt;${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Controller &lt;/td&gt;&lt;td&gt;${aspnet-mvc-controller}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Action &lt;/td&gt;&lt;td&gt;${aspnet-mvc-action}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Query string &lt;/td&gt;&lt;td&gt;${aspnet-request-querystring}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Request body &lt;/td&gt;&lt;td&gt;${aspnet-request-posted-body}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Method &lt;/td&gt;&lt;td&gt;${aspnet-request-method}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Host &lt;/td&gt;&lt;td&gt;${aspnet-request-host}&lt;/td&gt;&lt;/tr&gt;
	  &lt;tr&gt;&lt;td&gt;User Agent &lt;/td&gt;&lt;td&gt;${aspnet-request-useragent}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Auth Header &lt;/td&gt;&lt;td&gt;${aspnet-request:header=Authorization}&lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Exception Message&lt;/td&gt;&lt;td&gt;${exception:format=Message} &lt;/td&gt;&lt;/tr&gt;
      &lt;tr&gt;&lt;td&gt;Exception StackTrace&lt;/td&gt;&lt;td&gt; &lt;pre&gt;${exception:format=ToString,StackTrace}&lt;/pre&gt;  &lt;/td&gt;&lt;/tr&gt;
      &lt;/table&gt;
      " />
  <variable name="EmailFooter" value="&lt;/body&gt;&lt;/html&gt;" />
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- with the below target, we specify a dummy user name and password, as these are set in code -->
    <target xsi:type="Database"
            name="Database"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ISDB;;Integrated Security=true;"
            commandText="INSERT INTO dbo.AppLog (Logger, LogLevel, Message, AdditionalInfo, Version, Machine, [User], ExceptionDetails) VALUES ('${logger}', '${level}', '${message}', '${event-context:item=AdditionalInfo}', '${gdc:LogAppVersion}', '${machinename}', '${windows-identity}', '${exception:format=tostring}')" />

    <target name="logfile" type="File" fileName="${basedir}\logs\${date:format=yyyy-MM-dd}.log" />

    <!--
    Not using an email target for this app as it is a demo
    <target name="email" type="AsyncWrapper" queueLimit="1" overflowAction="Block">
      <target type="Mail" name="email"
              footer="${EmailFooter}"
              header="${EmailHeader}"
              html="true"
              addNewLines="true"
              subject="IS Accounts Exception"
              to="imtiaz.pocketpc@gmail.com"
              from="imtiaz.pocketpc@gmail.com"
              body="${EmailBody}"
              smtpServer="smtp.gmail.com"
              smtpPort="25">
      </target>
    </target>-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Error" writeTo="email" />-->
    <logger name="*" minlevel="Error" writeTo="Database" />
  </rules>
</nlog>